In [1]:
import math
from collections import Counter
from matplotlib import pyplot as plt
import random
import pandas as pd
import os
import sys
import csv
import dateutil.parser
from packages.Statistics import correlation
from collections import Counter
import numpy as np
from collections import Counter, defaultdict

In [2]:
raw_data = []
raw_data = pd.read_csv("datasets/true_car_listings.csv")
# Credit: https://www.kaggle.com/jpayne/852k-used-car-listings/version/2#true_car_listings.csv

In [3]:
raw_data.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic

In [4]:
top_brands = pd.read_csv("datasets/us_top_18_brands_2018.csv")

In [5]:
top_models = pd.read_csv("datasets/popular_models.csv")

In [6]:
top_models.head()

            Model   Month Month LY  Change      YTD   YTD LY YTD Change
0    Toyota Camry  29,093   43,331  -32.86  343,439  387,081     -11.27
1     Honda Civic  26,384   31,406  -15.99  325,760  377,286     -13.66
2  Toyota Corolla  25,439   19,969   27.39  303,732  329,196      -7.74
3    Honda Accord  28,627   22,115   29.45  291,071  322,655      -9.79
4   Nissan Sentra  17,567   16,834    4.35  213,046  218,451      -2.47

In [7]:
brand_model = [[top_models['Model'][i].split(" ")[0],
               top_models['Model'][i].split(" ")[1]]
               for i in range(len(top_models))]

In [8]:
brand_model_make = [brand_model[i][0]
                   for i in range(len(brand_model))]
brand_model_model = [brand_model[i][1]
                   for i in range(len(brand_model))]

In [9]:
raw_data = raw_data.loc[raw_data['Make'].isin(list(set(brand_model_make)))]

In [10]:
raw_data.index = range(len(raw_data))

In [11]:
raw_data.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic

In [12]:
categorized_model = defaultdict(list)
for i,j in brand_model:
    categorized_model[i].append(j)

In [13]:
categorized_model.keys()

dict_keys(['Toyota', 'Honda', 'Nissan', 'Hyundai', 'Ford', 'Chevrolet', 'Tesla', 'Kia', 'Volkswagen', 'Dodge', 'Subaru', 'Mazda', 'Mercedes-Benz', 'Lexus', 'Chrysler', 'BMW', 'Infiniti', 'Audi', 'Acura', 'Mini', 'Mitsubishi', 'Lincoln', 'Cadillac', 'Buick', 'Alfa', 'Volvo', 'Porsche', 'Genesis', 'Fiat', 'Jaguar', 'Smart'])

In [16]:
if not any(carmodel in raw_data['Model'][0] for carmodel in categorized_model[raw_data['Make'][0]]):
    print ('F')
else:
    print ('T')

T

In [29]:
3 % 100000

3

In [37]:
new_data = pd.DataFrame()

In [36]:
j = 0
for i in range(len(raw_data)):
    if raw_data['Model'][i] != raw_data['Model'][i+1]:
        if not any(carmodel in raw_data['Model'][i] for carmodel in categorized_model[raw_data['Make'][i]]):
        raw_data.drop(index = [j:i])

    
    else:
        continue

*
*

KeyboardInterrupt: