In [1]:
import math
from collections import Counter
from matplotlib import pyplot as plt
import random
import pandas as pd
import os
import sys
import csv
import dateutil.parser
from packages.Statistics import correlation
from collections import Counter
import numpy as np
from collections import Counter, defaultdict

In [49]:
raw_data = []
raw_data = pd.read_csv("datasets/true_car_listings.csv")
# Credit: https://www.kaggle.com/jpayne/852k-used-car-listings/version/2#true_car_listings.csv

In [3]:
raw_data.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic

In [4]:
top_brands = pd.read_csv("datasets/us_top_18_brands_2018.csv")

In [5]:
top_models = pd.read_csv("datasets/popular_models.csv")

In [6]:
top_models.head()

            Model   Month Month LY  Change      YTD   YTD LY YTD Change
0    Toyota Camry  29,093   43,331  -32.86  343,439  387,081     -11.27
1     Honda Civic  26,384   31,406  -15.99  325,760  377,286     -13.66
2  Toyota Corolla  25,439   19,969   27.39  303,732  329,196      -7.74
3    Honda Accord  28,627   22,115   29.45  291,071  322,655      -9.79
4   Nissan Sentra  17,567   16,834    4.35  213,046  218,451      -2.47

In [7]:
brand_model = [[top_models['Model'][i].split(" ")[0],
               top_models['Model'][i].split(" ")[1]]
               for i in range(len(top_models))]

In [8]:
brand_model_make = [brand_model[i][0]
                   for i in range(len(brand_model))]
brand_model_model = [brand_model[i][1]
                   for i in range(len(brand_model))]

In [9]:
raw_data = raw_data.loc[raw_data['Make'].isin(list(set(brand_model_make)))]

In [10]:
raw_data.index = range(len(raw_data))

In [11]:
raw_data.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic

In [12]:
categorized_model = defaultdict(list)
for i,j in brand_model:
    categorized_model[i].append(j)

In [13]:
categorized_model.keys()

dict_keys(['Toyota', 'Honda', 'Nissan', 'Hyundai', 'Ford', 'Chevrolet', 'Tesla', 'Kia', 'Volkswagen', 'Dodge', 'Subaru', 'Mazda', 'Mercedes-Benz', 'Lexus', 'Chrysler', 'BMW', 'Infiniti', 'Audi', 'Acura', 'Mini', 'Mitsubishi', 'Lincoln', 'Cadillac', 'Buick', 'Alfa', 'Volvo', 'Porsche', 'Genesis', 'Fiat', 'Jaguar', 'Smart'])

In [14]:
if not any(carmodel in raw_data['Model'][0] for carmodel in categorized_model[raw_data['Make'][0]]):
    print ('F')
else:
    print ('T')

T

In [172]:
j = 0
new_data = pd.DataFrame()
for i in range(len(raw_data)-1):
    if raw_data['Make'][i] != raw_data['Make'][i+1] or i == len(raw_data)-2:
        new_data = new_data.append(raw_data[j:i].sort_values(by=['Model']))
        j = i

In [157]:
new_data.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
6144,4995,1997,121462,Sneads Ferry,NC,19UYA2246VL003892,Acura,CLAutomatic
3277,5500,2001,87625,Lynnwood,WA,19UYA42491A036676,Acura,CLAutomatic
7731,2981,1999,224765,Oklahoma City,OK,19UYA2254XL001148,Acura,CLAutomatic
4443,4495,1998,93969,Danbury,CT,19UYA2251WL010730,Acura,CLAutomatic
5174,4995,2001,139903,Indianapolis,IN,19UYA42421A021467,Acura,CLAutomatic

In [161]:
new_data.index = range(len(new_data))

In [159]:
j = 0
for i in range(len(new_data)-1):
    if new_data['Make'][i] != new_data['Make'][i+1] or i == len(new_data)-2:
        if all(carmodel in new_data['Model'][i] for carmodel in categorized_model[new_data['Make'][i]]) == False:
            new_data = new_data.drop(np.arange(j,i+1))
        j = i+1

KeyError: 'labels [24244] not contained in axis'

In [171]:
len(new_data)

852120

In [163]:
new_data = new_data.drop(np.arange(0,9+1))
new_data.head(12)

,Price,Year,Mileage,City,State,Vin,Make,Model
10,63522,2016,7504,Merriam,KS,ZARBAAB4XGM182522,Alfa,Romeo
11,63995,2017,817,Miami,FL,ZARBAAA49HM231082,Alfa,Romeo
12,69990,2017,5915,Federal Way,WA,ZARFAEAV6H7518069,Alfa,Romeo
13,74977,2017,1802,Evanston,IL,ZARFAEAV9H7523847,Alfa,Romeo
14,76899,2017,800,Hinsdale,IL,ZARFAEAV6H7535485,Alfa,Romeo
15,77420,2017,2213,Hurst,TX,ZARFAEAV3H7555290,Alfa,Romeo
16,78987,2017,1213,Highlands Ranch,CO,ZARFAEAV2H7518277,Alfa,Romeo
17,81000,2017,6458,McKinney,TX,ZARFAEAV9H7518504,Alfa,Romeo
18,61443,2015,2175,Carrollton,TX,ZARBAAC40FM147033,Alfa,Romeo
19,37595,2017,5835,Atlanta,GA,ZARFAEBN5H7531121,Alfa,Romeo
20,47999,2015,11485,Raleigh,NC,ZARBAAB41FM159564,Alfa,Romeo
21,46517,2015,14171,Tampa,FL,ZARBAAA44FM161603,Alfa,Romeo

In [145]:
if all(carmodel in new_data['Model'][0] for carmodel in categorized_model[new_data['Make'][0]]) == False:
    print("False")

False

In [124]:
np.arange(1,4)

array([1, 2, 3])