In [1]:
import pandas as pd
import os
import sys
module_path1 = os.path.abspath(os.path.join('C:\\Users\\Danniel\\Documents\\GitHub\\DataScience_study\\exercise\\melb_data.csv'))
if module_path1 not in sys.path:
    sys.path.append(module_path1)
import math
from collections import Counter, defaultdict
from functools import partial

In [2]:
melb_data = pd.read_csv(module_path1)
melb_data = melb_data.dropna(axis=0)

In [3]:
melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6196.000000,6.196000e+03,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.068828e+06,9.751097,3101.947708,2.902034,1.576340,1.573596,471.006940,141.568645,1964.081988,-37.807904,144.990201,7435.489509
std,0.971079,6.751564e+05,5.612065,86.421604,0.970055,0.711362,0.929947,897.449881,90.834824,38.105673,0.075850,0.099165,4337.698917
min,1.000000,1.310000e+05,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370,389.000000
25%,2.000000,6.200000e+05,5.900000,3044.000000,2.000000,1.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198,4383.750000
50%,3.000000,8.800000e+05,9.000000,3081.000000,3.000000,1.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800,6567.000000
75%,4.000000,1.325000e+06,12.400000,3147.000000,3.000000,2.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700,10175.000000
max,8.000000,9.000000e+06,47.400000,3977.000000,9.000000,8.000000,10.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350,21650.000000

In [4]:
melb_data.head(5)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0

In [5]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [6]:
X = melb_data[melbourne_features]
y = melb_data['Price']

In [7]:
def entropy(class_probabilities):
    return (sum(-p * math.log(p,2)
               for p in class_probabilities
               if p != 0))

def class_probabilities(labels):
    total_count = len(labels)
    return [count / total_count
           for count in Counter(labels).values()]

def data_entropy(labeled_data):
    labels = [label for _, label in labeled_data]
    probabilities = class_probabilities(labels)
    return entropy(probabilities)

In [8]:
def partition_entropy(subsets):
    total_count = sum(len(subset)
                     for subset in subsets)
    return sum(data_entropy(subset) * len(subset) / total_count
              for subset in subsets)

In [9]:
def partition_by(inputs, attribute):
    groups = defaultdict(list)
    
    for input in inputs:
        key = input[0][attribute]
        groups[key].append(input)
    return groups

In [10]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [11]:
def partition_entropy_by(inputs, attribute):
    partitions = partition_by(inputs, attribute)
    return partition_entropy(partitions.values())

In [12]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [13]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [14]:
train_data = pd.read_csv('C:\\Users\\Danniel\\Documents\\GitHub\\DataScience_study\\exercise\\train.csv')

In [15]:
#train_data = train_data.dropna(axis=0)

In [16]:
train_data.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [17]:
y = train_data['SalePrice']
train_features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
x = train_data[train_features]

In [18]:
train_model = DecisionTreeRegressor(random_state=1)

train_model.fit(x, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [21]:
print("Making predictions for the following 5 houses:")
print(x)
print("The predictions are")
print(train_model.predict(x))

Making predictions for the following 5 houses:
      LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
0        8450       2003       856       854         2             3
1        9600       1976      1262         0         2             3
2       11250       2001       920       866         2             3
3        9550       1915       961       756         1             3
4       14260       2000      1145      1053         2             4
5       14115       1993       796       566         1             1
6       10084       2004      1694         0         2             3
7       10382       1973      1107       983         2             3
8        6120       1931      1022       752         2             2
9        7420       1939      1077         0         1             2
10      11200       1965      1040         0         1             3
11      11924       2005      1182      1142         3             4
12      12968       1962       912         0         1             2
13      10652       2006      1494         0         2             3
14      10920       1960      1253         0         1             2
15       6120       1929       854         0         1             2
16      11241       1970      1004         0         1             2
17      10791       1967      1296         0         2             2
18      13695       2004      1114         0         1             3
19       7560       1958      1339         0         1             3
20      14215       2005      1158      1218         3             4
21       7449       1930      1108         0         1             3
22       9742       2002      1795         0         2             3
23       4224       1976      1060         0         1             3
24       8246       1968      1060         0         1             3
25      14230       2007      1600         0         2             3
26       7200       1951       900         0         1             3
27      11478       2007      1704         0         2             3
28      16321       1957      1600         0         1             2
29       6324       1927       520         0         1             1
...       ...        ...       ...       ...       ...           ...
1430    21930       2005       734      1104         2             4
1431     4928       1976       958         0         2             2
1432    10800       1927       968         0         2             4
1433    10261       2000       962       830         2             3
1434    17400       1977      1126         0         2             3
1435     8400       1962      1537         0         1             3
1436     9000       1971       864         0         1             3
1437    12444       2008      1932         0         2             2
1438     7407       1957      1236         0         1             2
1439    11584       1979      1040       685         2             3
1440    11526       1922      1423       748         2             3
1441     4426       2004       848         0         1             1
1442    11003       2008      1026       981         2             3
1443     8854       1916       952         0         1             2
1444     8500       2004      1422         0         2             3
1445     8400       1966       913         0         1             3
1446    26142       1962      1188         0         1             3
1447    10000       1995      1220       870         2             3
1448    11767       1910       796       550         1             2
1449     1533       1970       630         0         1             1
1450     9000       1974       896       896         2             4
1451     9262       2008      1578         0         2             3
1452     3675       2005      1072         0         1             2
1453    17217       2006      1140         0         1             3
1454     7500       2004      1221         0         2             2
1455     7917       1999       953       694         2             3
1456    13175       1978      2073         0         2             3
1457     9042       1941      1188      1152         2             4
1458     9717       1950      1078         0         1             2
1459     9937       1965      1256         0         1             3

      TotRmsAbvGrd
0                8
1                6
2                6
3                7
4                9
5                5
6                7
7                7
8                8
9                5
10               5
11              11
12               4
13               7
14               5
15               5
16               5
17               6
18               6
19               6
20               9
21               6
22               7
23               6
24               6
25               7
26               5
27               7
28               6
29               4
...            ...
1430             7
1431             5
1432             5
1433             8
1434             5
1435             7
1436             5
1437             7
1438             6
1439             6
1440            11
1441             3
1442            10
1443             4
1444             7
1445             6
1446             6
1447             8
1448             6
1449             3
1450             8
1451             7
1452             5
1453             6
1454             6
1455             7
1456             7
1457             9
1458             5
1459             6

[1460 rows x 7 columns]
The predictions are
[208500. 181500. 223500. ... 266500. 142125. 147500.]

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [56]:
train_x, val_x, train_y, val_y = train_test_split(x,y, random_state = 0)

In [40]:
melb_model_train = DecisionTreeRegressor()
melb_model_train.fit(train_x, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [69]:
train_prediction = melb_model_train.predict(val_x)
print (len(train_y)+len(val_y))

1460

In [70]:
print (mean_absolute_error(val_y, train_prediction))

32717.915068493152

In [63]:
def get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes = max_leaf_nodes, random_state = 0)
    model.fit(train_x,train_y)
    predicted_val = model.predict(val_x)
    return (mean_absolute_error(val_y,predicted_val))

In [64]:
for max_nodes_leaf in [5,50,500,5000]:
    my_mae = get_mae(max_nodes_leaf, train_x, val_x, train_y, val_y)
    print ('Maxnode: %d \t\t Mean Absolute Error: %d'%(max_nodes_leaf, my_mae))

Maxnode: 5 		 Mean Absolute Error: 35190
Maxnode: 50 		 Mean Absolute Error: 27825
Maxnode: 500 		 Mean Absolute Error: 32662
Maxnode: 5000 		 Mean Absolute Error: 33382

In [65]:
from sklearn.ensemble import RandomForestRegressor

In [72]:
forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_x, train_y)
melb_preds = forest_model.predict(val_x)
print(mean_absolute_error(val_y, melb_preds))

24346.620065231575

C:\Users\Danniel\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)